* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.div-container-usercontato {
    height: 220vh;
    width: 100%;
    left: 0;
    top: 0;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #093366;
    padding: 30px;
    transition: 0.6s;
    opacity: 0;
    animation-name: menucontatos;
    animation-fill-mode: forwards;
    animation-duration: 0.9s;
    transform: translateY(50%);
}
@keyframes menucontatos {
    to {
      opacity: 1;
      transform: translateY(0%);
    }
}
.user-container {
   
   height: 100%;
   width: 100%;
   
}
.user-wrapper h2 {
    font-family: 'Inter',sans-serif;
    font-weight: 800;
    font-size: 2.75rem;
    line-height: 1.2;
    letter-spacing: -.019em;
    color: #093366;
    border-bottom: 2px solid  #093366;
}
.user-wrapper h2:hover{
    transform: translateX(30px);
    transition: 0.5s;
    
    border-bottom: 2px solid  #09d561;
}
.user-wrapper {
    height: 17%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(249, 213, 8);
}

.div-info-input {
    /* background-color: #09d561; */
    width: 100%;
    height: 75%;
}
@media screen and (max-width: 900px) {
    .div-container-usercontato {
    height: 170rem;
    width: 100%;
     left: 0;
    top: 0;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #093366;
      padding: 30px;


  }
    .user-container {
     /* background-color: rgb(28, 216, 144) ; */
      height:100%;
     width: 100%;
    display: flex;
    align-items: center;
        justify-content: flex-start;
    flex-direction: column;

     } 
}